*{
    margin:0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
}


 


h1{
    margin: 0%;
    height: 50%;
    color: rgb(50, 50, 117);
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: rgb(170, 228, 215);
    width: 50%;
    
}
body{
    background-color: rosybrown;
}

p{
    color: rgb(50, 50, 117);
    font-family: Arial, sans-serif;
    background-color: rgb(149, 167, 63);
}